<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gate template</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/allstyles.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body class="home">
   
    <main class="main">
        <div class="tablewrap">
         <table class="table table-bordered" >
                <thead>
                    <tr>
                        <th>No</th>
                        <th>SubmissionTime </th>
                        <th>Title</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Dec. 20,2018, 1:39p.m.</td>
                        <td>Big_Idea Big_Idea Big_Idea</td>
                        <td>Big_Idea Big_Idea Big_Idea hahahaaaaaglydtisrjhghahah aaaaaglydtisrjhg Big_Idea Big_Idea Big_Idea </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Dec. 20,2018, 1:39p.m.</td>
                        <td>Big_Idea Big_Idea Big_Idea</td>
                        <td>Big_Idea Big_Idea Big_Idea hahahaaaaaglydtisrjhghahah aaaaaglydtisrjhg Big_Idea Big_Idea Big_Idea </td>
                    </tr>
                </tbody>
            </table>
           </div> 
    </main>
    
    <script type="text/javascript " src="js/jquery.min.js "></script>
    <script src="js/plugins.js "></script>
    <script src="js/system.js "></script>
</body>

</html>